<body style="background-color: darkslategray;">


    <div class="container animated fadeIn">
        <a routerLink="/ejemplo" class="card-title" id="enlace">
            <div class="card" style="width: 18rem;" id="menuCards">
                <img src="/assets/img/4fotos.png" class="card-img-top" alt="Imagen de afasia" id="img" height="170.34px">
                <div class="card-body">
                    <h5>1 palabra 4 fotos</h5>
                </div>
            </div>
        </a>
        <a routerLink="/juego" class="card-title" id="enlace">
            <div class="card" style="width: 18rem;" id="menuCards">
                <img src="/assets/img/palabras.jpg" height="170.34px" class="card-img-top" id="img" alt="Imagen de rendimiento">
                <div class="card-body">
                    <h5>1 foto 4 palabras</h5>
                </div>
            </div>
        </a>

    </div>
</body>