<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="#">Afasia</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div  class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item" routerLinkActive="active">
                <a *ngIf="userService.isLoggedIn()" class="nav-link" routerLink="/menu" >Menú principal<span class="sr-only"></span></a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a *ngIf="userService.isLoggedIn()" class="nav-link" routerLink="#">Rendimiento</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/contacto">Contáctanos</a>
            </li>
           <!-- <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="#">Cuenta</a>
            </li>-->
            <li class="nav-item" routerLinkActive="active">
                <a *ngIf="userService.isLoggedIn()" (click)="logOut()" class="btn btn-danger" routerLink="/inicio">Salir</a>
            </li>
            
        </ul>
    </div>
</nav>