#img1 {
    border-radius: 2em;

}
/*
#img1 {
    border-top-right-radius: 2em;
}
*/
#card {
    border-radius: 2em;
    background-color: white;
    height: 100%;
    border: 3px solid black;
   }

#cardbody {
    text-align: center;
    background-image: url('/assets/img/contacto1.jpg');
    border-radius: 2em ;
    
    
}
#container {
    background-color: noney;
}

body {
    background-color: darkslategray;
    
    
}